.about {
  height: 100%;
  width: 100%;
  position: relative;
  .about-inner {
    padding: calc(1rem + 7vw) 0;
    .row {
      display: flex;
      padding: calc(1rem + 3vw) 0;
      @media (max-width: 768px) {
        padding: calc(1rem + 2vw) 0;
      }
      &.left {
        padding-left: 10%;
        justify-content: flex-start;
        @media (max-width: 500px) {
          padding-left: 0;
          justify-content: center;
          text-align: center;
        }
      }
      &.right {
        padding-right: 10%;
        justify-content: flex-end;
        text-align: right;
        @media (max-width: 500px) {
          padding-right: 0;
          justify-content: center;
          text-align: center;
        }
      }
    }
    .block-text {
      display: flex;
      flex-direction: column;
      position: relative;
      max-width: calc(5rem + 40vw);
      @media (max-width: 768px) {
        max-width: calc(5rem + 50vw);
      }
      .title {
        font-family: $playfair;
        font-size: calc(1rem + 7vw);
        font-weight: 700;
        font-style: italic;
        color: $black;
        margin-bottom: 50px;
        @media (max-width: 768px) {
          margin-bottom: 30px;
        }
      }
      .text {
        font-family: $poppins;
        font-size: calc(0.5rem + 1vw);
        font-weight: 400;
        span {
          color: $green;
        }
      }
    }
  }
}
