.header {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: $white;
  .inner-header {
    height: 100%;
    padding: 0 calc(1rem + 5vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .logo {
      text-decoration: none;
      position: relative;
      width: 120px;
      height: 30px;
      top: -5px;
      overflow: hidden;

      .logo-1,
      .logo-2 {
        position: absolute;
        font-family: $poppins;
        font-size: 1.5rem;
        font-weight: 700;
        color: $black;
        transition: transform 0.4s ease-in-out;
      }
      .logo-2 {
        transform: translateY(-100%);
      }
      &:hover .logo-1 {
        transform: translateY(100%);
      }
      &:hover .logo-2 {
        transform: translateY(0%);
      }
    }
    nav {
      @media (max-width: 500px) {
        display: none;
      }
      .navigation-list,
      .restaurant-list {
        font-family: $poppins;
        font-size: 1rem;
        color: $black;
        text-transform: uppercase;
        list-style: none;
        display: flex;
        padding: 0;
        .navigation-item {
          margin: 0 40px;
          position: relative;
          color: $black;

          @media (max-width: 1024px) {
            margin: 0 20px;
          }
          @media (max-width: 768px) {
            font-size: 0.875rem;
          }

          &:last-child {
            margin-right: 0;
          }
          /*
          &:after {
            content: "";
            width: 0;
            height: 2px;
            background-color: $black;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: width 0.2s ease-in-out;
          }
          &:hover:after {
            width: 100%;
          }
          */
        }
      }

      .navigation-list {
        .navigation-item {
          margin: 0 50px;
          @media (max-width: 1024px) {
            margin: 0 30px;
          }
          @media (max-width: 768px) {
            margin: 0 15px;

            font-size: 0.875rem;
          }
        }
      }
      .restaurant-list {
        @media (max-width: 850px) {
          display: none;
        }
      }
    }
    .hamburger {
      height: 10px;
      width: 25px;
      cursor: pointer;
      display: none;
      @media (max-width: 500px) {
        // display: block;
      }
      .hamburger-inner {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
          height: 2px;
          width: 100%;
          background-color: $black;
        }
      }
    }
  }
}
