@import "./styles/variables.scss";
@import "./styles/header.scss";
@import "./styles/banner.scss";
@import "./styles/about.scss";
@import "./styles//movingBar.scss";
@import "./styles/menu.scss";
@import "./styles//restaurant.scss";
@import "./styles//restaurantMenu.scss";
@import "./styles//footer.scss";
@import "./styles//hours.scss";
@import "./styles/animationLayout.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  cursor: none;
  @media (max-width: 1024px) {
    cursor: auto;
  }
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: none;
  @media (max-width: 1024px) {
    cursor: pointer;
  }
}

//custom cursor
.cursor {
  position: fixed;
  height: 30px;
  width: 30px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 3px solid $green;
  border-radius: 50px;
  z-index: 100;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  transition-property: transform, background-color, position;
  will-change: transform, background-color, position;
  @media (max-width: 1024px) {
    display: none;
  }
}

.active-cursor {
  background-color: $green;
}

.pasta-cursor,
.breakfast-cursor,
.soup-cursor,
.salad-cursor,
.dessert-cursor,
.alcohol-cursor {
  height: 300px;
  width: 250px;
  border: none;
  border-radius: 0;
  background-size: cover;
  background-position: center;
}

.pasta-cursor {
  background-image: url("./assets/cursor/pasta.jpg");
}

.breakfast-cursor {
  background-image: url("./assets/cursor/breakfast.jpg");
}

.soup-cursor {
  background-image: url("./assets/cursor/soup.jpg");
}

.salad-cursor {
  background-image: url("./assets/cursor/salad.jpg");
}

.dessert-cursor {
  background-image: url("./assets/cursor/dessert.jpg");
}

.alcohol-cursor {
  background-image: url("./assets/cursor/alcohol.jpg");
}
